<div class="container container-show">
  <div class= "logo">
    <%= link_to :back do %>
      <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
      </div>
    <% end %>
    <%= image_tag("logo.png")%>
  </div>
    <br>
    <h2>Mes réservations</h2>
  <div class="body">
      <p class="text-center"> Découvres ici toutes tes <span style="color: #fcd29f"><strong>réservations</strong></span></p>
    <br>
      <% @my_bookings.each do |booking| %>
        <h3> ⚡️ <%= booking.activity.name %></h3>
        <br>
          <div class= "image-show">
              <%= cl_image_tag booking.activity.photo.key%>
          </div>
        <br>
        <br>
          <div class="text-center">
            <button class="button-action"><%= link_to "Voir cette réservation", booking_path(booking) %></button>
          </div>

        <br>
            <div class="text-center">
              <button class="button-booking"><%= link_to "Laisser un avis", activity_path(booking.activity, anchor:"activity-review") %></button>
            </div>
        <br>
      <% end %>
  </div>
</div>
