

<div class="container-bookings">
    <div class= "logo">
      <%= image_tag("logo.png")%>
    </div>
  <h2 class="title">Mes réservations</h2>
  <div class="body-bookings">
          <div class="text-center">
      <p> Découvrez ici toutes vos <span style="color: orange;"><strong>réservations</strong></span></p>
          </div>
      <% @my_bookings.each do |booking| %>
          <h3><%= @value += 1 %> - <%= booking.activity.name %></h3>
          <ul>
            <li><p><%= booking.start_at %> Début</p></li>
            <li><p><%#= booking.end_at %> Fin</p></li>
          </ul>
          <p><%= booking.activity.description %></p>
          <div class="filtre">
          <div class="button-show">
            <%= link_to "Voir cette réservation", booking_path(booking) %>
          </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
