<%#= simple_form_for [@activity, @booking] do |f|%>
<%#= f.input :start_at, as: :string, input_html: { data: { controller: 'flatpickr' } }%>
<%#= f.input :total_price, as: :integer %>
<%#= f.input :end_at, as: :string, input_html: { data: { controller: 'flatpickr' } } %>
<%#= f.button :submit, class:"button-show" %>
<%# end %>


  <div class="container">
    <h1 class="title-booking">Ma réservation</h1>
    <p class="text-center">Plus qu'une vérif' pour la valider 🧡</p>
  </div>
  <div class="body">
  <div class="text-center">
      <div class="card mb-4">
        <div class="card-header">
          <h2 class="h2-activity"><%= @activity.name %></h2>
        </div>
        <div class="card-body">
          <p class="p-card"><%= @activity.price_cents / 100 %> € / pers.</p>

          <%= simple_form_for @booking, url: activity_bookings_path(@activity)  do |f| %>
            <%= f.input :number_of_persons, placeholder: "Nombre de personnes", label:"Combien ? 👯" %>
            <%= f.button :submit, class:"button-show", value:"Je réserve"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
