<div class="container container-show">
  <div class= "logo">
  <a href="/bookings"> <i class="fa-solid fa-arrow-left"></i></a>
    <%= image_tag("logo.png")%>
  </div>
    <div class="body">
      <h2>Bientôt</h2>
        <p class="text-center"> Plus qu'une vérif' pour la <span style="color: #fcd29f"><strong>valider </strong></span></p>
        <br>
          <h3> ⚡️ <%= @activity.name %></h3>
            <br>
              <div class= "image-show">
                <%= cl_image_tag @activity.photo.key%>
              </div>

            <% if @activity.price_cents.blank? %>
                  <br>
                  <p><i class="fa-solid fa-receipt"><span>Réglement sur place</p></i></span>
                <% elsif @activity.price_cents.zero? %>
                  <br>
                  <p><i class="fa-solid fa-receipt"><span>Gratuit</p></i></span>
                <% else %>
                  <br>
                  <p><i class="fa-solid fa-receipt"><span><%= @activity.price_cents.fdiv(100) %> € / pers.</p></i></span>
                <% end %>

            <%= simple_form_for @booking, url: activity_bookings_path(@activity)  do |f| %>
              <span style="color: #FFFFF"><%= f.input :number_of_persons, label:"Combien serez-vous ?", type:"text" %></span>
              <small><%= f.button :submit, class:"btn-reviews", value:"Je réserve"%></small>
            <% end %>
            <br>
            <br>
            <br>
    </div>
  </div>
