<div class="container-bookings">
    <div class= "logo">
      <%= image_tag("logo.png")%>
    </div>

  <h2 class="title"> ⚡️ <%= @booking.activity.name %></h2>
    <div class="container-bookings">
      <div class="cards">
        <div class="card">
          <p><strong>Début</strong> de l'activité à :</p>
        </div>
        <div class="card">
          <p><strong>Fin</strong> de l'activité à :</p>
        </div>
        <div class="card">
          <p><strong>Prix : <%= activity.price_cents.fdiv(100) %> €
        </div>
      </div>
    </div>

    <div class="flexbox">
      <div class="button-home">
        <%= link_to "Delete", booking_path(@booking),
        data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûre ?"} %>
      </div>

      <div class="button-home">
        <div class="text-center">
          <%= link_to 'Toutes mes réservations', bookings_path(booking) %>
        </div>
      </div>
    </div>
</div>
