<div class= "container">
  <div class= "logo">
    <%= link_to bookings_path do %>
      <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
      </div>
    <% end %>
    <%= image_tag("logo.png")%>
  </div>

      <h2>Ma réservation</h2>
      <h3 class="text-center"><%= @booking.activity.name %> ⚡️</h3>
  <div class="body">
        <br>
          <div class= "image-show">
            <%= cl_image_tag @activity.photo.key%>
          </div>

    <div class="show-show">
      <div class="show-address">
        <i class="fa-solid fa-location-dot"></i><span><%= @activity.address %></span></i>
      </div>
      <hr>

      <div class="show-time">
        <% if @activity.workshop? %>
          <i class="fa-regular fa-calendar"><span><%= DateTime.parse(@activity.start_at).strftime("%H:%M") %> - <%=DateTime.parse(@activity.end_at).strftime("%H:%M") %></span></i>
        <% else %>
          <i class="fa-regular fa-calendar"><span><%= DateTime.parse(@activity.open_at).strftime("%H:%M") %> - <%=DateTime.parse(@activity.close_at).strftime("%H:%M") %></span></i>
        <% end %>
      </div>
      <hr>
      <div class="show-price">
        <i class="fa-solid fa-receipt"></i><span><%= @price %></span>
      </div>
        <div class="text-center">
            <button class="button-action"><%= link_to "Voir l'activité", activity_path(@activity) %></button>
        </div>
              <br>
        <div class="text-center">
            <button class="button-booking"><%= link_to "Supprimer cette réservation", booking_path(@booking),
            data: {turbo_method: :delete} %></button>
        </div>
    </div>
  </div>
</div>
