<div class="container-bookings">
    <div class= "logo">
      <%= image_tag("logo.png")%>
    </div>
<h2 class="title"><%= @booking.activity.name %></h2>
<div class="container-show-booking">
    <div class="cards-color">
      <div class="card">
        <p><span style="color: orange;"><strong>Début</strong></span> de l'activité à : </strong></p>
      </div>
      <div class="card">
        <p><span style="color: orange;"><strong>Fin</strong></span> de l'activité à : </strong></p>
      </div>
      <div class="card">
        <p><strong>Prix : </strong><%= @price %> €</p>
      </div>
    </div>

  <div class="flexbox">
    <div class="button-home">
      <%= link_to "Delete", booking_path(@booking),
        data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûre ?"} %>
    </div>
    <div class="button-home">
      <%= link_to 'Toutes mes réservations', booking_path(booking) %>
      </div>
    </div>
  </div>
</div>
