<% if @activity && current_page?(activity_path(@activity)) %>
  <div class="navbar-phone navbar-show" style="display:inline-block">
  <% if Booking.where(user: current_user, activity: @activity).any? %>
  <div class="navbar-phone navbar-show" style="display:none">
    <%= link_to "VOUS AVEZ DÉJÀ RÉSERVÉ", new_activity_booking_path(@activity), disabled: true %>
    </div>
  <% end %>
    <%= link_to "JE VEUX FAIRE CETTE ACTIVITÉ", new_activity_booking_path(@activity) %>
  </div>
<% else %>
  <div class="navbar-phone">
      <div class="navbar-icons">
        <%= link_to root_path do %>
        <i class="fas fa-home"></i>
        <% end %>
        <%= link_to index_filtre_path do %>
        <i class="fas fa-search"></i>
        <% end %>
        <%= link_to bookings_path do %>
        <i class="fa-solid fa-ticket-simple"></i>
        <% end %>
        <%= link_to "#" do %>
        <i class="fa-solid fa-user"></i>
        <% end %>
      </div>
  </div
<% end %>
