<% if user_signed_in? %>
  <div class="container">
  <div class= "logo">
    <%= link_to :back do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <%= image_tag("logo.png")%>
  </div>
      <% @random_activity  %>
      <%# <% if params[:activity].present? %>
      <%= link_to "Laisse-toi guider", activity_path(@random_activity), class: "button-activity" %>
      <%# <% end %>
      <% @activities.each do |activity| %>
          <div class="card-activity">
            <div class="card-border">
              <% if activity.photo.attached? %>
                <%= cl_image_tag activity.photo.key, crop: :fill, alt: activity.name %>
              <% end %>
            </div>
            <div class="activity-description-card">
              <%= link_to activity.name, activity_path(activity) %>
              <% if activity.opening_days.count == 1 %>
                <span>
                  <!-- Jour d'ouverture-->
                  <%= Activity.display_days(activity.opening_days[0]) %>
                  <!-- Heure converti -->
                  <span class="card-color-black">|</span>
                  <%= DateTime.parse(activity.start_at).strftime("%H:%M") %>
                  <span class="card-color-black">-</span>
                  <%= DateTime.parse(activity.end_at).strftime("%H:%M") %>
                </span>
                <!-- Prix converti -->
                <span class="card-color-black button-price">
                  <%= activity.price_cents.fdiv(100) %> €
                </span>
              <% else %>
                <span>
                  <!-- Jour d'ouverture et fermeture -->
                  <% if activity.opening_days == (0..6).to_a %>
                    Ouvert 7j/7
                  <% else %>
                    <span class="card-color-black">Du</span>
                    <%= Activity.display_days(activity.opening_days[0]) %>
                    <span class="card-color-black">au</span>
                    <%= Activity.display_days(activity.opening_days[-1]) %>
                  <% end %>
                  <span class="card-color-black">|</span>
                  <!-- Heure converti -->
                  <%= DateTime.parse(activity.open_at).strftime("%H:%M") %>
                  <span class="card-color-black">-</span>
                  <%= DateTime.parse(activity.close_at).strftime("%H:%M")  %>
                </span>

                <!-- Prix converti -->
                <% if activity.price_cents.blank? %>
                  <span class="card-color-black">Réglement sur place</span>
                <% elsif activity.price_cents.zero? %>
                  <span class="card-color-black">Gratuit</span>
                <% else %>
                  <span class="card-color-black"> <%= activity.price_cents.fdiv(100) %> €</span>
                <% end %>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
<% end %>
