<% if user_signed_in? %>
  <div class="container container-filtre">
    <div class= "logo">
    <%= link_to :back do %>
      <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
      </div>
    <% end %>
    <%= image_tag("logo.png")%>
  </div>
    <br>
    <h2> Guide-nous </h2>
<br>

  <%= simple_form_for :activity, url: activities_path, method: "GET" do |f| %>
    <%= f.input :Nombre_de_personnes,
          required: false %>
    <%= f.input :ville,
          required: false %>
    <%= f.input :catégorie,
          as: :radio_buttons,
          required: false,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: { class: 'category-selector' },
            collection: Activity::CATEGORIES  %>
      <%= f.submit "C'est parti", class: "btn btn-reviews" %>
  <% end %>
  <br>
  </div>
  <br>
<% end %>
