<div class= "container container-show">

  <div class= "logo">
  <a href="activities_path"> <i class="fa-solid fa-arrow-left"></i></a>
    <%= image_tag("logo.png")%>
  </div>

  <div class= "image-show">
    <%= cl_image_tag @activity.photo.key%>
  </div>

  <h2> <%= @activity.name %></h2>

  <div class="show-description">
    <div class="show-address">
      <i class="fa-solid fa-location-dot"></i><span><%= @activity.address %></span></i>
    </div>

    <div class="show-time">
      <% if @activity.workshop? %>
        <i class="fa-regular fa-calendar"><span><%= DateTime.parse(@activity.start_at).strftime("%H:%M") %> - <%=DateTime.parse(@activity.end_at).strftime("%H:%M") %></span></i>
      <% else %>
        <i class="fa-regular fa-calendar"><span><%= DateTime.parse(@activity.open_at).strftime("%H:%M") %> - <%=DateTime.parse(@activity.close_at).strftime("%H:%M") %></span></i>
      <% end %>
    </div>

    <h3>Description</h3>
    <p><%= @activity.description%></p>
  </div>

  <div style="width: 100%; height: 300px; border-radius: 5px;"
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="show-reviews card-reviews">
    <h1>Reviews</h1>
    <br>
    <br>
    <% if @booking != nil %>
      <div class="reviews-form">
        <h3>Ajoutez votre avis!</h3>
          <%= simple_form_for [@activity, @review] do |f| %>
            <%= f.input :rating, label: "Combien mettrais-tu à cette activité?" %>
            <%= f.input :content, label: "Dis nous en plus!"%>
            <small><%= f.submit "AJOUTER MON COMMENTAIRE", class: "btn-reviews"%></small>
          <% end %>
      </div>
  <% end %>

    <ul class="list-group">
      <% unless @is_reviewed %>
        <p>Soyez le premier à ajouter un avis pour <%= @activity.name %></p>
      <% else %>
        <% @activity.bookings.each do |booking| %>
          <% booking.reviews.each do |review| %>
            <% if review.rating == 5 %>
                <div class="list-item card-review">
                  <span>★★★★★</span><%= review.content %>
                  <%= link_to "Supprimer ce commentaire",
                    review_path(review), class: "btn-delete-show",
                    data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûre de vouloir supprimer ce commentaire?"}
                  %>
                </div>
              <% elsif review.rating == 4 %>
                <div class="list-item card-review">
                  <span>★★★★</span><%= review.content %>
                  <%= link_to "Supprimer ce commentaire",
                    review_path(review), class: "btn-delete-show",
                    data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûre de vouloir supprimer ce commentaire?"}
                  %>
                </div>
              <% elsif review.rating == 3 %>
                <div class="list-item card-review">
                  <span>★★★</span><%= review.content %>
                  <%= link_to "Supprimer ce commentaire",
                    review_path(review), class: "btn-delete-show",
                    data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûre de vouloir supprimer ce commentaire?"}
                  %>
                </div>
              <% elsif review.rating == 2 %>
                <div class="list-item card-review">
                  <span>★★</span><%= review.content %>
                  <%= link_to "Supprimer ce commentaire",
                    review_path(review), class: "btn-delete-show",
                    data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûre de vouloir supprimer ce commentaire?"}
                  %>
                </div>
              <% else %>
                <div class="list-item card-review">
                  <span>★</span><%= review.content %>
                  <%= link_to "Supprimer ce commentaire",
                    review_path(review), class: "btn-delete-show",
                    data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûre de vouloir supprimer ce commentaire?"}
                  %>
                </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
    <br>
  </div>
</div>
